<div class="container">

    <h3>Edit A Student</h3>


          <%= form_for @student do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name %>

            <%= f.submit 'Update this Student' %>
          <% end %>

    <%= link_to 'Students Page', '/students' %>

</div>
